<h1>{{title}}</h1>
<h3>Ready to Eat</h3>
<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li>
        {{burger_name}}
        <form action="/api/burger/{{id}}" method="POST">
            <input type="hidden" name="devoured" value="1" />
            <input type="submit" value="Devour!" />
        </form>
    </li>
    {{/unless}}
    {{/each}}
</ul>
<h3>Devoured</h3>
<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li>
        {{burger_name}}
        <form action="/api/burger/{{id}}" method="POST">
            <input type="hidden" name="devoured" value="0" />
            <input type="submit" value="Order More!" />
        </form>
    </li>
    {{/if}}
    {{/each}}
</ul>

<form action="/api/burgers" method="POST">
    New Burger: <input type="text" name="burger_name" /><br />
    <input type="hidden" name="devoured" value="0" /><br />
    <input type="submit" value="Add" />
</form>